{% extends 'base.html' %}
{% block header %} The Castle Hotel  {% endblock %}
{% block content %}

<div class="first-div"> </div>

<div class="second-div font-semibold mb-4 font-serif"> <h1>Welcome to the Castle Hotel</h1><p>
    Experience luxury and comfort in the heart of the city. Our hotel offers a range of amenities and services to make your stay unforgettable. Whether you're here for business or leisure, we have everything you need for a perfect getaway.
    <br><br>
    <strong>Our Services:</strong>
    <ul>
        <li>Luxurious Rooms</li>
        <li>Fine Dining Restaurant</li>
        <li>Spa and Wellness Center</li>
        <li>Conference and Event Facilities</li>
        <li>24/7 Room Service</li>
</p> </div>
<div class="third-div text-center mt-8">
  <h2 class="text-2xl font-semibold mb-4 font-serif">What are you waiting for?</h2>
  <a href="/rooms" class="inline-block px-6 py-3 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 transition font-medium text-center" style="font-size: 1.5rem; display: block; width: fit-content; margin: 0 auto;">View Rooms</a></div>
{% endblock %}