{% extends 'base.html' %}
{% block content %}
{% load static %}
<body class="home-background">
   
        

    <div class="section" id="section11">
        <header class="header"> The Castle Hotel</header>
    </div>

    <div class="section" id="section22">
       
    Located in the imaginary mountains of the world, The Castle Hotel is a luxurious retreat that offers breathtaking views and unparalleled service. Whether you're here for a romantic getaway, a family vacation, or a business trip, we have something for everyone.
    
        
    </div>

    <div class="section" id="section33">
        
        <h1>Choose your experience</h1>
        <a href="{% url 'room_list' %}">Rooms</a>
        <a href="{% url 'wellness_list' %}">Wellness</a>
        <a href="{% url 'restaurant_list' %}">Restaurant</a>
    </div>
    <footer>


    </footer>
</body>
<script src="{% static 'js/smooth-scroll.js' %}"></script>
{% endblock %}