{% extends 'base.html' %}
{% block header %} The Castle Hotel - Restaurant {% endblock %}
{% block content %}
<div class="section22">
<h1>Book your reservation</h1>
<p> We have a variety of European, Mediterranean and Asian dishes</p>
<p> We are confident that you will love our fine selection and luxury service </p>
<br>

<p id="p11" style="font-size: 23px; color:red;"> We are open from 8:00 AM to 11:00 PM </p>
<p id="p22" style="font-size: 23px;"> We are located on the ground floor of the hotel </p>
<p id="p33" style="font-size: 23px;"> Please book your table by calling us through the number given below or by clicking on the reserve a table button </p>
<section><button type="button"  class="btn btn-primary">Reserve your table</button>
</section>
<p id="p66" style="font-size: 23px;"> Thank you for choosing The Castle Hotel </p>
</div>
{% endblock %}