{% extends 'base.html' %}
{% load static %}

{% block title %}<div class="section" id="section11">
    <header class="header"> The Castle Hotel - Rooms</header>
</div>
 {% endblock %}

 {% block content %}
  <body class="home-background">
    
         
 
     <div class="section" id="section22">
         Located in the imaginary mountains of the world, The Castle Hotel is a luxurious retreat that offers breathtaking views and unparalleled service. Whether you're here for a romantic getaway, a family vacation, or a business trip, we have something for everyone.
     
         <div class="image-placeholder" style="display: flex; justify-content: space-between; margin-top: 20px;">
             <div style="flex: 1; margin-right: 10px;">
                 <img src="../../../static/media/pexels-hasan-kibar-683753166-23853933.jpg" alt="Image 1" style="width: 100%; height: auto;">
             </div>
             <div style="flex: 1; margin-right: 10px;">
                 <img src="../../../static/media/pexels-pixabay-164595.jpg" alt="Image 2" style="width: 100%; height: auto;">
             </div>
             <div style="flex: 1;">
                 <img src="../../../static/media/pexels-olly-3770093.jpg" alt="Image 3" style="width: 100%; height: auto;">
             </div>
         </div>
     </div>
     <div class="section" id="section33">
     <div class="image-placeholder" style="display: flex; justify-content: space-between; margin-top: 20px;">
         <div style="flex: 1; margin-right: 10px; text-align: center;">
             <img src="../../../static/media/pexels-pixabay-164595.jpg" alt="Image 1" style="width: 100%; height: auto;">
             <div>
                 <a href="{% url 'room_list' %}" style="display: block; margin-top: 10px;">Rooms</a>
             </div>
         </div>
         <div style="flex: 1; margin-right: 10px; text-align: center;">
             <img src="../../../static/media/pexels-castorlystock-3610006.jpg" alt="Image 2" style="width: 100%; height: auto;">
             <div>
                 <a href="{% url 'wellness_list' %}" style="display: block; margin-top: 10px;">Wellness</a>
             </div>
         </div>
         <div style="flex: 1; text-align: center;">
             <img src="../../../static/media/pexels-olly-3770093.jpg" alt="Image 3" style="width: 100%; height: auto;">
             <div>
                 <a href="{% url 'restaurant_list' %}" style="display: block; margin-top: 10px;">Restaurant</a>
             </div>
         </div>
     </div>
 </div>
     
     
    
 </body>
 {% endblock %}
 
 
 